altgraph==0.17.4
appdirs==1.4.4
numpy==1.26.3
packaging==23.2
pandas==2.1.4
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
pytz==2023.3.post1
setuptools==69.0.3
six==1.16.0
tzdata==2023.4
xlrd==2.0.1
